<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.novel.dao.NovelMapper" >
  <cache eviction="LRU" type="com.novel.core.mybatisenhancedcache.MybatisRedisCache" flushInterval="60000" size="2000" readOnly="true" />
  
  <resultMap id="AllResultMap" type="Novel">
  	<result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="article" property="article" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="section" property="section" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="paragraph" property="paragraph" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="selectCountMap" type="NovelCountVo">
  	<result column="tc" property="tc" jdbcType="INTEGER" />
  	<result column="ac" property="ac" jdbcType="INTEGER" />
  	<result column="sc" property="sc" jdbcType="INTEGER" />
  	<result column="pc" property="pc" jdbcType="INTEGER" />
  	<result column="scc" property="scc" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectAll" resultMap="AllResultMap" useCache="true" flushCache="false">
  	SELECT t.id AS tid, t.type AS type, a.id AS aid, a.article AS article, s.id AS sid, s.section AS section, p.id AS pid, p.paragraph AS paragraph
	 FROM type t, article a, section s, paragraph p
	 WHERE t.id = a.tid AND a.id = s.aid AND s.id = p.sid;
  </select>
  
  <select id="selectCount" resultMap="selectCountMap" useCache="true" flushCache="false">
  	SELECT 
		t.tc AS tc, a.ac AS ac, s.sc AS sc, p.pc AS pc, sc.scc AS scc 
	FROM 
		(SELECT COUNT(*) AS tc FROM type) AS t,
		(SELECT COUNT(*) AS ac FROM article) AS a,
		(SELECT COUNT(*) AS sc FROM section) AS s,
		(SELECT COUNT(*) AS pc FROM paragraph) AS p,
		(SELECT COUNT(*) AS scc FROM search) AS sc;
  </select>
</mapper>