<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.novel.dao.SearchMapper" >
  <cache eviction="LRU" type="com.novel.core.mybatisenhancedcache.MybatisRedisCache" flushInterval="60000" size="32" readOnly="true" />
  
  <resultMap id="BaseResultMap" type="Search">
  	<result column="id" property="id" jdbcType="INTEGER" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="resultcount" property="resultcount" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIME" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectAllTimes" resultType="INTEGER" useCache="true" flushCache="false">
  	SELECT COUNT(*) FROM search
  </select>
  
  <select id="selectTimesByDay" resultMap="BaseResultMap" parameterType="java.util.List" useCache="true" flushCache="false">
  	SELECT keyword, resultcount, DATE_FORMAT(time,'%Y-%m-%d') AS date, COUNT(*) AS times 
	FROM (SELECT * FROM search WHERE time BETWEEN #{starttime} AND #{endtime} ORDER BY time) AS st 
	GROUP BY keyword ORDER BY times DESC LIMIT 20
  </select>
  
  <select id="selectTimesAll" resultMap="BaseResultMap" parameterType="java.util.List" useCache="true" flushCache="false">
  	SELECT keyword, resultcount, DATE_FORMAT(time,'%Y-%m-%d') AS date, COUNT(*) AS times 
	FROM search GROUP BY TO_DAYS(time), keyword ORDER BY times DESC LIMIT 20
  </select>
  
  <sql id="Base_Column_List">
  	keyword, resultcount, time
  </sql>
  
	<insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List" flushCache="false">
		INSERT INTO search ( <include refid="Base_Column_List" /> ) 
		VALUES 
		<foreach collection="list" item="item" index="index" separator=",">
		    (#{item.keyword}, #{item.resultcount}, #{item.time})
		</foreach>
	</insert>
	
	<update id="batchUpdate" parameterType="java.util.List" flushCache="false">
      <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE search 
            <set>
            	<if test="item.keyword != null">
            		keyword = #{item.keyword},
            	</if>
            	<if test="item.resultcount != null">
            		resultcount = #{item.resultcount},
            	</if>
            	<if test="item.time != null">
            		time = #{item.time},
            	</if>
            </set>
            WHERE id = #{item.id}
     </foreach>
    </update>
</mapper>